<footer class="ba-footer text-center">
    <div class="row column">
        <img src="{{root}}assets/img/bouncy2.svg" alt="">
        <p class="ba-copyright">Copyright 2015. All rights Reserved</p>
        <ul class="ba-socials flex-container align-center">
            <li class="ba-socials__item">
                <a href="#" class="ba-socials__link">
                    <img src="{{root}}assets/img/icons/facebook.svg" alt="">
                </a>
            </li>
            <li class="ba-socials__item">
                <a href="#" class="ba-socials__link">
                    <img src="{{root}}assets/img/icons/twitter.svg" alt="">
                </a>
            </li>
            <li class="ba-socials__item">
                <a href="#" class="ba-socials__link">
                    <img src="{{root}}assets/img/icons/linkedin.svg" alt="">
                </a>
            </li>
            <li class="ba-socials__item">
                <a href="#" class="ba-socials__link">
                    <img src="{{root}}assets/img/icons/instagram.svg" alt="">
                </a>
            </li>
            <li class="ba-socials__item">
                <a href="#" class="ba-socials__link">
                    <img src="{{root}}assets/img/icons/vimeo.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->