<section class="ba-team" id="team">
    <div class="row column ba-team__intro">
        
                <h2 class="ba-headline text-center">THE TEAM</h2>
                <p class="ba-head-discr text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        
        
    </div>
    <!-- /.ba-team__intro -->
    <div class="row ba-team__slider">
        <div class="ba-slideitem">
            <div class="large-6">
                <img src="/assets/img/man_slider.jpg" alt="">
            </div>
            <div class="large-6">
                <article class="ba-team-discr text-right">
                    <h4>Abdullah Noman</h4>
                    <span>Creative Director, Code Cafe</span>
                    <p>
                         At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. 
                    </p>
                </article>
                <!-- /.ba-team-discr -->
            </div>
        </div>
        <div class="ba-slideitem">
            <div class="large-6">
                <img src="/assets/img/man_slider.jpg" alt="">
            </div>
            <div class="large-6">
                <article class="ba-team-discr text-right">
                    <h4>Abdullah Noman</h4>
                    <span>Creative Director, Code Cafe</span>
                    <p>
                         At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. 
                    </p>
                </article>
                <!-- /.ba-team-discr -->
            </div>
        </div>
        <div class="ba-slideitem">
            <div class="large-6">
                <img src="/assets/img/man_slider.jpg" alt="">
            </div>
            <div class="large-6">
                <article class="ba-team-discr text-right">
                    <h4>Abdullah Noman</h4>
                    <span>Creative Director, Code Cafe</span>
                    <p>
                         At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. 
                    </p>
                </article>
                <!-- /.ba-team-discr -->
            </div>
        </div>

    </div>
    <!-- /.ba-team__slider -->
</section>
<!-- /.team -->
