<section class="ba-testimon" id="testimon">
        <div class="row column ba-team__intro">
        
                <h2 class="ba-headline text-center">Testimonials</h2>
                <p class="ba-head-discr text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        
        
    </div>
    <!-- /.ba-team__intro -->
    <div class="ba-team-block row">
            <div class="ba-testimon__slider">
                <div class="ba-testslide-item">
                    <img src="{{root}}assets/img/man2-slider.jpg" alt="">
                    <div class="ba-testimon-descr">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.</p>
                    </div>
                    <!-- /.ba-testimon-descr -->
                </div>
                <!-- /.ba-testslide-item -->
                </div>
                <!-- /.ba-testimon__slider -->
    </div>
    <!-- /.ba-team-block -->
    



</section>
<!-- /.ba-testimon -->